{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-typescript",
    "react-app",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      },
      "alias": {
        "map": [
          ["~hooks", "./src/hooks"],
          ["~components", "./src/components"],
          ["~containers", "./src/containers"],
          ["~services", "./src/services"],
          ["~utils", "./src/utils"],
          ["~mocks", "./src/mocks"]
        ],
        "extensions": [".ts", ".js", ".tsx", ".json"]
      }
    }
  },
  "rules": {
    "no-loss-of-precision": "off",
    "@typescript-eslint/no-loss-of-precision": ["error"],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "useTabs": false,
        "jsxSingleQuote": true,
        "singleQuote": true,
        "trailingComma": "es5",
        "tabWidth": 2
      }
    ]
  }
}